name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: First
      id: first
      uses: classroom-resources/autograding-io-grader@v1
      with:
        test-name: First
        setup-command: ''
        command: gcc priority.c -o priority && ./priority
        input: |-
          4
          P1 0 7 3
          P2 2 4 1
          P3 4 1 2
          P4 5 4 4
        expected-output: |-
          Waiting Time:
          P1 5
          P2 0
          P3 2
          P4 7
          Turnaround Time:
          P1 12
          P2 4
          P3 3
          P4 11
          Average Waiting Time: 3.50
          Average Turnaround Time: 7.50
        comparison-method: exact
        timeout: 10
        max-score: 10
    - name: Second
      id: second
      uses: classroom-resources/autograding-io-grader@v1
      with:
        test-name: Second
        setup-command: ''
        command: gcc priority.c -o priority && ./priority
        input: |-
          3
          P1 0 5 2
          P2 1 3 1
          P3 2 4 3
        expected-output: |-
          Waiting Time:
          P1 3
          P2 0
          P3 6
          Turnaround Time:
          P1 8
          P2 3
          P3 10
          Average Waiting Time: 3.00
          Average Turnaround Time: 7.00
        comparison-method: exact
        timeout: 10
        max-score: 10
    - name: Third
      id: third
      uses: classroom-resources/autograding-io-grader@v1
      with:
        test-name: Third
        setup-command: ''
        command: gcc priority.c -o priority && ./priority
        input: |-
          5
          P1 0 6 4
          P2 1 5 2
          P3 2 8 1
          P4 3 3 3
          P5 4 4 5
        expected-output: |-
          Waiting Time:
          P1 16
          P2 8
          P3 0
          P4 11
          P5 18
          Turnaround Time:
          P1 22
          P2 13
          P3 8
          P4 14
          P5 22
          Average Waiting Time: 10.60
          Average Turnaround Time: 15.80
        comparison-method: exact
        timeout: 10
        max-score: 10
    - name: Fourth
      id: fourth
      uses: classroom-resources/autograding-io-grader@v1
      with:
        test-name: Fourth
        setup-command: ''
        command: gcc priority.c -o priority && ./priority
        input: |-
          4
          P1 1 4 2
          P2 2 2 1
          P3 3 1 3
          P4 4 3 2
        expected-output: |-
          Waiting Time:
          P1 2
          P2 0
          P3 7
          P4 3
          Turnaround Time:
          P1 6
          P2 2
          P3 8
          P4 6
          Average Waiting Time: 3.00
          Average Turnaround Time: 5.50
        comparison-method: exact
        timeout: 10
        max-score: 10
    - name: Fifth
      id: fifth
      uses: classroom-resources/autograding-io-grader@v1
      with:
        test-name: Fifth
        setup-command: ''
        command: gcc priority.c -o priority && ./priority
        input: |-
          3
          P1 0 10 3
          P2 3 1 1
          P3 5 2 2
        expected-output: |-
          Waiting Time:
          P1 3
          P2 0
          P3 0
          Turnaround Time:
          P1 13
          P2 1
          P3 2
          Average Waiting Time: 1.00
          Average Turnaround Time: 5.33
        comparison-method: exact
        timeout: 10
        max-score: 10
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        FIRST_RESULTS: "${{steps.first.outputs.result}}"
        SECOND_RESULTS: "${{steps.second.outputs.result}}"
        THIRD_RESULTS: "${{steps.third.outputs.result}}"
        FOURTH_RESULTS: "${{steps.fourth.outputs.result}}"
        FIFTH_RESULTS: "${{steps.fifth.outputs.result}}"
      with:
        runners: first,second,third,fourth,fifth
